# Virtual environment
venv/

# Compiled Python files
*.pyc

# Environment variables file (e.g., .env)
.env

# IDE files
.vscode/
.idea/

# Logs and cache files
*.log
*.swp
__pycache__/

# Dependency directories
node_modules/
